[Unit]
Description=Dynamic output configuration (kanshi)
Documentation=https://gitlab.freedesktop.org/emersion/kanshi
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=graphical-session.target
