# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Gustavo Basso
	email = gubasso@eambar.net
	signingkey = 7CCE369973230977391A01A85263B3301AFE1919
[init]
	defaultBranch = master
[pull]
	rebase = false
[core]
	editor = nvim
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
