[Unit]
Description=Update pacman mirrorlist using reflector
# Ensure network is up before running the command.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/greflector
