[Desktop Entry]
Type=Application
Name=Brave
Comment=Brave Browser with custom flags from ~/.config/brave/flags.conf
Exec=brave-launcher %U
Terminal=false
Categories=Network;WebBrowser;
Icon=brave-browser
