[Desktop Entry]
Name=Ghostty Nvim
Exec=ghostty --title=term-history -e nvim %F
Terminal=false
Type=Application
MimeType=text/plain;text/markdown;text/x-markdown;
