[Unit]
Description=Update pacman mirrorlist using reflector
# Ensure network is up before running the command.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --latest 50 --protocol https -c Brazil -c "United States" --sort rate --save /etc/pacman.d/mirrorlist
